{% extends 'base.html.twig' %}

{% block body %}
    <div class="">
        <a href="{{ path('displayBook') }}"><button>Show book</button></a>
        <a href="{{ path('displayCategory') }}"><button>Show Category</button></a>
        <a href="{{ path('addCategory') }}"><button>Add Category</button></a>
        <h1>Add book</h1>

        <br>
        <p>{{ form_start(form) }}</p>
        <p>{{ form_widget(form) }}</p>
        <button type="submit">Add</button>
        <p>{{ form_end(form) }}</p>

    </div>
{% endblock %}