{%  extends 'base.html.twig'%}


{% block body %}
    <div class="">

        <a href="{{ path('addBook') }}"><button>Add book</button></a>
        <a href="{{ path('displayBook') }}"><button>Show Book</button></a>
        <a href="{{ path('addCategory') }}"><button>Add Category</button></a>

        <h1>Show Category</h1>
            <p>{{ "now"|date("m/d/Y") }}</p>
       <table>
           <tr>
               <td>Genre</td>
               <td>Description</td>
           </tr>

           {% for category in categorys %}

               <tr>
                   <td><a href="">{{ category.name }}</a></td>
                   <td><a href="">{{ category.content }}</a></td>

                   <td><a href="{{ path('editCategory', {'id': category.getId}) }}">Edit</a></td>
                   <td><a href="{{ path('deleteCategory', {'id': category.getId}) }}">Delete</a></td>


               </tr>
           {% endfor %}
       </table>
        <br>
       <a href="{{ path('addBook') }}"><button>Add book</button></a>
    </div>
{% endblock %}